<template>
  <q-page class="flex flex-center">
    <q-dialog v-model="showDialog" :title="title" @hide="onHide" >

      <q-card class="q-pa-md" style="width: 700px; max-width: 80vw;">
        <q-toolbar>
          <q-toolbar-title><span class="text-weight-bold">Sign In</span></q-toolbar-title>
        </q-toolbar>

        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input v-model="email" type="email" name="email" label="Email" stack-label class="full-width" autofocus />
            <q-input v-model="password" type="password" name="email" label="Password" stack-label class="full-width" />
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Ok" color="primary" @click="login" />
        </q-card-actions>
      </q-card>

    </q-dialog>
  </q-page>
</template>

<script>

export default {
  data () {
    return {
      showDialog: true,
      email: null,
      password: null,
      title: "Login"
    }
  },
  computed: {
  },
  methods: {
    goHome () {
      this.$router.push({ name: "home" })
    },
    onHide () {
      // Workaround needed because of timing issues (sequencing of 'hide' and 'ok' events) ...
      setTimeout(() => {
        this.goHome()
      }, 50)
    },
    login () {
      this.$store.dispatch("auth/authenticate", { strategy: "local", email: this.email, password: this.password })
        .then(_ => {
          this.$q.notify({ type: "positive", message: "You are now logged in" })
        })
        .catch(_ => {
          console.log(_)

          this.$q.notify({ type: "negative", message: "Cannot sign in, please check your e-mail or password" })
          this.goHome()
        })
    }
  },
  mounted () {
  },
  beforeDestroy () {
  }
}
</script>

<style lang="styl">

</style>
