<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>

        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="drawerState = !drawerState"
          v-show="authenticated"
        />

        <q-toolbar-title>
          NGO Cloud
        </q-toolbar-title>

        <q-btn flat @click="goTo('signin')" v-show="!authenticated">
          Sign In
        </q-btn>
        <q-btn flat @click="goTo('register')" v-show="!authenticated">
          Register
        </q-btn>
        <q-btn flat round @click="goTo('home')" v-show="authenticated">
          <q-icon name="home" />
          <q-tooltip anchor="bottom middle" self="top middle" :offset="[0, 20]">Home</q-tooltip>
        </q-btn>
        <q-btn flat round @click="goTo('chat')" v-show="authenticated">
          <q-icon name="chat" />
          <q-tooltip anchor="bottom middle" self="top middle" :offset="[0, 20]">Chat</q-tooltip>
        </q-btn>
        <q-btn flat round @click="logout" v-show="authenticated">
          <q-icon name="exit_to_app" />
          <q-tooltip anchor="bottom middle" self="top middle" :offset="[0, 20]">Logout</q-tooltip>
        </q-btn>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawerState"
      v-show="authenticated"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>

        <q-item to="/home">
          <q-item-section icon="home" />
          <q-item-label label="Home" />
        </q-item>

        <q-item to="/chat">
          <q-item-section icon="chat" />
          <q-item-label label="Chat" />
        </q-item>

        <q-expansion-item icon="info" label="About">
          <p style="padding: 25px;" class="text-grey-7">
            This is a template project combining the power of Quasar and Feathers to create real-time web apps.
          </p>
        </q-expansion-item>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view :user="user"></router-view>
    </q-page-container>
  </q-layout>
</template>

<script>

import auth from "src/auth"

export default {
  name: "MainLayout",

  components: {
  },

  data () {
    return {
      user: null
    }
  },
  computed: {
    authenticated () {
      console.log(this.$store.getters["auth/isAuthenticated"])

      return this.$store.getters["auth/isAuthenticated"]
    },
    drawerState: {
      get () {
        return this.$store.state.showcase.drawerState
      },
      set (val) {
        this.$store.commit("showcase/updateDrawerState", val)
      }
    }
  },
  methods: {
    goTo (route) {
      this.$router.push({ name: route })
    },
    logout () {
      auth.logout()
        .then(() => {
          this.$q.notify({ type: "positive", message: "You are now logged out, sign in again to continue to work" })
        })
        .catch(() => {
          this.$q.notify({ type: "positive", message: "Cannot logout, please check again in a few minutes" })
        })
    },
    setUser (user) {
      this.$data.user = user
    }
  },
  mounted () {
    // console.log(this.$store)

    // Check if there is already a session running
    if (this.$store.getters["auth/isAuthenticated"]) {
      this.setUser(this.$store.api.auth.user)
      this.$q.notify({ type: "positive", message: "Restoring previous session" })
    } else {
      this.setUser(null)
      this.$router.push({ name: "signin" })
    }
  },
  beforeDestroy () {
  }
}
</script>

<style>
</style>
